.global-decorator {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translateY(50%) translateX(50%);
  background-color: var(--blue-color-medium);
}