.global-spinner {
  width: 48px;
  height: 48px;
  border: 6px solid var(--blue-color-medium);
  border-radius: 50%;
  border-bottom-color: transparent;
  animation: loopRotate .5s infinite linear;

  @keyframes loopRotate {
    to { transform: rotate(1turn); }
  }
}