@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --basic-font: 'Roboto', sans-serif;

  --blue-color-medium: #208df9;

  --black-color: #26262d;
  --black-color-light: #93989a;
  --black-color-light-max: #b8c2c5;
  --black-color-medium: #62666a;

  --width-icons-container: 30px;
  --search-input-height: 40px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  // &::-webkit-scrollbar {
  //   width: 8px;
  //   background-color: rgb(230,230,230);

  //   @media screen and (max-width: 640px) {
  //     display: none;
  //   }
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: var(--blue-color-medium);
  // }
}

// Custom Alert
.swal2-container {
  font-family: var(--basic-font);
}